'exception-reporting':
  'userId': '3755e756-65f2-5422-ae66-8b0acc3426cf'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '17370acd07e7a556391cd8704c93d7592c9520e9'
'editor':
  'fontSize': 16
  'fontFamily': 'Monaco'
  'lineHeight': 1.2
'core':
  'themes': [
    'soda-light-ui'
    'tomorrow-night-eighties-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.pyc'
  ]
  'projectHome': '/Users/denysbutenko/dev/'
  'useReactEditor': true
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'django-templates':
  'defaultToDjangoTemplatesForFilePathsContaining': 'templates'
'git-diff':
  'showIconsInEditorGutter': true
'autocomplete-plus':
  'enableAutoActivation': false
'project-manager':
  'closeCurrent': true
  'showPath': true
